{% extends "base.twig" %}
{% block title %}Complete{% endblock %}
{% block content %}
  <h1>Contact Form</h1>
  <div id="complete">
	Thanks. We will respond to your e-mail as soon as possible. Thank you for your patience.
  </div>
{% endblock %}
